:root {
  --clr-white: 0 0% 100%;
  --clr-black: 0 0% 0%;
}

/* Resets */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

/* global */

body {
  background: url('./images/bg-img.jpg') center center fixed;
  background-color: hsl(0 0% 0% / 0.3);
  background-size: cover;
  background-blend-mode: overlay;
}

/* Header */
header {
  width: 100%;
  color: hsl(var(--clr-white));
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
  padding: 2rem 1rem;
  overflow: hidden;
}

.restaurant-name {
  text-align: center;
  font-size: 3rem;
  margin-bottom: auto;
  margin-top: auto;
}

.nav ul {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-tab {
  height: 100%;
  font-size: inherit;
  background-color: hsl(var(--clr-black) / 0.5);
  color: hsl(var(--clr-white));
  border: 2px solid hsl(var(--clr-white) / 0.6);
  padding: 1em clamp(1em, calc(5vw+0.2em), 2em);
  cursor: pointer;
}

.btn-tab:hover,
.btn-tab:focus-visible,
.btn-tab.selected {
  border: 2px solid hsl(var(--clr-white) / 1);
}

.btn-tab:hover,
.btn-tab:focus-visible {
  transform: scale(1.1);
}

.tab-info {
  margin: 0 auto 2rem;
  padding: 4rem 3rem;
  width: min(90%, 900px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: hsl(var(--clr-white) / 0.8);
  border-radius: 10px;
}
/* HomePage */

.home-img {
  border-radius: 20px;
  overflow: hidden;
}

.home-img img {
  width: 100%;
}

.restaurant-info {
  display: flex;
  gap: 3rem;
}

.desc {
  width: min(60ch, 100%);
  font-size: 1.2rem;
}

.schedule {
  display: flex;
}

.schedule h2 {
  padding: 0 0.5em;
  background-color: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
}

@media screen and (max-width: 570px) {
  .restaurant-info {
    flex-direction: column;
  }

  .schedule {
    flex-direction: column;
    text-align: center;
  }

  .schedule h2 {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    padding: 0.5em 0.5em;
  }

  .location {
    text-align: center;
  }
}

/* Menu */

.menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.menu-title {
  font-size: 2rem;
}
.menu-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.item-title {
  text-transform: capitalize;
  font-size: 1.3rem;
}

.item-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.item-img:hover {
  transform: scale(1.2);
}

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* contact list */

.contact-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact-card {
  text-align: center;
  flex: 1 0 200px;
}

.contact-card .position {
  text-transform: capitalize;
}
